modules = ["c-clang14"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["raylib", "xorg.libX11", "xorg.libXrandr", "xorg.libXinerama", "xorg.libXcursor", "xorg.libXi", "mesa", "libGL"]
